In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [6]:
df = pd.read_pickle(r'C:\Users\BhuwanDhakal\Sunita\Projects\2 Data Immersion\Python fundamental for Data Analysis\01-2024 Instacart Basket analysis\02 Data\Prepared Data\df_final.pkl')

In [7]:
df.head()

,user_id,Gender,State,Age,date_joined,Number_of_Dependants,Family_Status,income,product_id,product_name,...,median_days_between_orders,order_frequency,Region,activity,Age_Category,Income_Category,Dependants_Category,customer_profile,customer_profile1,department
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,19.0,Regular customer,Midwest,NaN,Adult,High Income,3 or More Dependants,['Adult']_['3 or More Dependants'],['High Income']_['married'],beverages
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,19.0,Regular customer,Midwest,NaN,Adult,High Income,3 or More Dependants,['Adult']_['3 or More Dependants'],['High Income']_['married'],beverages
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,19.0,Regular customer,Midwest,NaN,Adult,High Income,3 or More Dependants,['Adult']_['3 or More Dependants'],['High Income']_['married'],beverages
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,19.0,Regular customer,Midwest,NaN,Adult,High Income,3 or More Dependants,['Adult']_['3 or More Dependants'],['High Income']_['married'],produce
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,19.0,Regular customer,Midwest,NaN,Adult,High Income,3 or More Dependants,['Adult']_['3 or More Dependants'],['High Income']_['married'],produce

In [8]:
df.columns

Index(['user_id', 'Gender', 'State', 'Age', 'date_joined',
       'Number_of_Dependants', 'Family_Status', 'income', 'product_id',
       'product_name', 'aisle_id', 'department_id', 'prices', 'order_id',
       'order_number', 'orders_day_of_week', 'time_of_day',
       'days_since_prior_order', 'First_Order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range_loc', 'busiest_day',
       'busiest_days_modified', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'mean_product_price', 'spending_flag',
       'median_days_between_orders', 'order_frequency', 'Region', 'activity',
       'Age_Category', 'Income_Category', 'Dependants_Category',
       'customer_profile', 'customer_profile1', 'department'],
      dtype='object')

In [10]:
crosstab2 = df.pivot_table(values = 'user_id', index=['loyalty_flag'], columns='department', aggfunc=len)

In [5]:
df['First_Order'].value_counts()

Not First Order    30328763
First Order         2076096
Name: First_Order, dtype: int64